<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>Flask and Sqlite3</title>
</head>
<body>
{% block content %}
  <h1>Build Web App with Sqlite3 and Flask</h1>
  <button class="btn" type="button" onclick="window.location.href='{{ url_for('join') }}';">Fill form to get product</button>
  <button class="btn" type="button" onclick="window.location.href='{{ url_for('participants') }}';">Check Buyers list</button>
{% endblock content %}
</body>
</html>